## Datos de la Conexion de la Base de Datos de MongoDB
USER_MONGODB=prequena
KEY_MONGODB=52ohHwBT7MaMy9p9
CLOUSTER_OPERATIONS=DB-Operaciones
URI_MONGO=.ktjoy.mongodb.net/?retryWrites=true&w=majority&appName=

## Definición de los puertos de la APP
PORT=8010